Include
Lib
tcl
node_modules
cssenv/Scripts/activate.bat
cssenv/Scripts/activate.ps1
cssenv/Scripts/activate_this.py
cssenv/Scripts/csaplication/csaplication/local_settings.py
cssenv/Scripts/deactivate
cssenv/Scripts/django-admin.py
cssenv/Scripts/activate
cssenv/Scripts/activate.xsh
cssenv/Scripts/deactivate.bat
cssenv/Scripts/django-admin.exe
cssenv/Scripts/easy_install.exe
cssenv/Scripts/easy_install-3.7.exe
cssenv/Scripts/epylint.exe
cssenv/Scripts/isort.exe
cssenv/Scripts/pip.exe
cssenv/Scripts/pip3.exe
cssenv/Scripts/pip3.7.exe
cssenv/Scripts/pylint.exe
cssenv/Scripts/pyreverse.exe
cssenv/Scripts/python.exe
cssenv/Scripts/python3.dll
cssenv/Scripts/python37.dll
cssenv/Scripts/pythonw.exe
cssenv/Scripts/sqlformat.exe
cssenv/Scripts/symilar.exe
cssenv/Scripts/wheel.exe
cssenv/Scripts/csaplication/package-lock.json
cssenv/Scripts/csaplication/csaplication/__pycache__/local_settings.cpython-37.pyc
cssenv/Scripts/gunicorn.exe
